/DATA
/motif
/processed_data*
/processed_data_pelvis
/__pycache__/
*.pyc
/info.txt
/checkpoints*
/scalers*
/minimal_model_local
/minimal_model
results/
results*
inference_results*/
process_data/info.txt
rt-cosmik
plots
LOGgrf2kine*